{% extends 'base.html' %}

{% block header %}
  <h1>O vyhodnocovací službě</h1>
{% endblock %}

{% block content %}
    <p>
        Webový front end nově implementované vyhodnocovací služby pro formální jazyky a automaty vznikl na
        Fakultě informatiky Masarykovy univerzity v rámci
        <a href="https://is.muni.cz/th/bwci5/">závěrečné práce</a> v roce 2020.
    </p>
    <p>
        Zdrojový kód vyhodnocovacího systému a tohoto webu je veřejně k
        dispozici v repozitáři na <a href="https://gitlab.fi.muni.cz/fja/eval/">GitLab</a>.
    </p>
    <h3>Autoři</h3>
    <ul>
        <li>Kateřina Sloupová, autorka závěrečné práce</li>
        <li>Vladimír Štill, konzultant práce, aktuální správce webu</li>
        <li>Jan Strejček, vedoucí práce, zadavatel</li>
    </ul>
{% endblock %}
<!--
vim: spell spelllang=cs
-->
