<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FJA: Porovnávání a převody formalismů regulárních jazyků{% endblock %}</title>
</head>
<body>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
    <div class="first line">
        <h1><a href="{{ url_for('index') }}">FJA: Porovnávání a převody</a></h1>
        <a href="{{ url_for('eval.about') }}">O službě</a>
        <a href="{{ url_for('eval.userref') }}">Uživatelská dokumentace</a>
    </div>
    <div class="second line">
        <div class="linepart">
            Regulární jazyky:&nbsp;
            <a href="{{ url_for('eval.compare') }}">porovnání</a>
            <a href="{{ url_for('eval.convert') }}">převod</a>
        </div>
    </div>
</nav>

<section class="content">

    <header>
        {% block header %}{% endblock %}
    </header>

    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
</body>
</html>
