{% extends 'base.html' %}

{% block header %}
  <h1>Porovnání formalismů</h1>
{% endblock %}

{% block content %}
    <p>
    Simuluje vyhodnocení odpovědníku v IS MU. Máte-li k dispozici správné řešení úlohy, můžete jej porovnat s vaším výsledkem.
    Nezapomeňte vybrat, jakého typu je zadaný formalismus a jaký typ a vlastnosti se očekávají u vašeho řešení.
    </p>

    <form method="post">
        <input type="submit" name="example_button" value="Vlož příklady ke zvoleným typům">
        <label for="teacher_string">Zadání</label>
        <div>
            <div style="width:400px; float:right;">
                <textarea style="width:400px;" name="teacher_string" id="teacher_string">{{ teacher_area }}</textarea>
                {% if error_asgn is defined and error_asgn %}
                <div class="error">
                    {{error_asgn}}
                </div>
                {% endif %}
            </div>
            {{ teacher_form.hidden_tag() }}
            <div style="float:left;">{{ teacher_form.make(style="list-style:none") }}</div>
        </div>

        <label for="student_string">Řešení</label><br>
        <div>
            <div style="width:400px; float:right;">
                <textarea style="width:400px;" name="student_string" id="student_string">{{ student_area }}</textarea>
                {% if error_sol is defined and error_sol %}
                <div class="error">
                    {{error_sol}}
                </div>
                {% endif %}
            </div>
            {{ student_form.hidden_tag() }}
            <div style="float:left;">{{ student_form.make(style="list-style:none") }}</div>
        </div>

        <input type="submit" name="submit_button" value="Porovnej">
    </form>
{% endblock %}
