{% extends 'base.html' %}

{% block header %}
  <h1>Převod formalismu</h1>
{% endblock %}


{% block content %}
    <p>
        Konverze mezi jednolitlivými formalismy pro zápis regulárních jazyků.
    </p>

    <form method="post">
        <input type="submit" name="example_button" value="Vlož příklad zvoleného typu">
        <label for="student_string">Můj vstup je</label><br>
        <div>
            <div style="width:400px; float:right;">
                <textarea style="width:400px;" name="student_string" id="student_string">{{ student_area }}</textarea>
                {% if error is defined %}
                <div class="error">
                    {{error}}
                </div>
                {% endif %}
            </div>
            {{ student_form.hidden_tag() }}
            <div style="float:left;">{{ student_form.make(style="list-style:none") }}</div>
        </div>

        <label>Převeď na</label><br>
        {{ task_form.hidden_tag() }}
        {{ task_form.make(style="list-style:none") }}

        <input type="submit" name="submit_button" value="Převeď">
    </form>

{% endblock %}
