{% extends 'base.html' %}

{% block header %}
    <h1>Převod formalismu</h1>
{% endblock %}


{% block content %}
    <form method="post">
        <label for="student_type">Můj vstup</label>
        <input type="radio" id="dfa" name="student_type" value="dfa">
        <label for="dfa">DFA</label><br>
        <input type="radio" id="nfa" name="student_type" value="nfa">
        <label for="nfa">NFA</label><br>
        <input type="radio" id="grammar" name="student_type" value="grammar">
        <label for="grammar">Gramatika</label>
        <input type="radio" id="regex" name="student_type" value="regex">
        <label for="regex">Regulární výraz</label>
    </form>

    <form method="post">
        <label for="user_input">Můj vstup</label>
        <textarea name="user_input" id="user_input">{{ request.form['user_input'] }}</textarea>
        <input type="submit" value="Převeď">
    </form>
{% endblock %}
