{% if is_task_valid %}
<h4>Vygenerovaný řetězec pro odpovědník</h4>
<details>
<summary>zobrazit/skrýt</summary>
<pre>
Zkonstruujte {{student_type_string|default(task)}}…
 :e1a___
:e1a="d:?{{is_task}}"</pre>
</details>
{% else %}
<h4>Chyba při generování řetězce pro odpovědník</h4>
{{is_task}}
{% endif %}
