{% extends 'base.html' %}

{% block header %}
    <h1>Výsledek převodu
    <a class="anchor" href="?link&inty={{raw_in_type | urlencode}}&inval={{student_string | urlencode}}&outty={{raw_out_type | urlencode}}">⚓</a></h1>
{% endblock %}

{% block content %}
    <p>
        Vstupní {{student_type}}:
        <pre>
        {{- student_string -}}
        </pre>
    </p>
    <p>
        <h4>Výsledek převodu na {{task}}</h4>
        <pre>
        {{- output -}}
        </pre>
    </p>
    {% include "genodp.html" %}
{% endblock %}
