[Unit]
Description=Socket for FJA web frontend

[Socket]
ListenStream={{socket | default("/run/uwsgi/fjaweb.socket")}}
SocketUser={{user | default("fjaweb")}}
SocketGroup={{group | default("nginx")}}
SocketMode=0660

[Install]
WantedBy=sockets.target

# vim: ft=systemd
