[Unit]
Description=FJA web frontend

[Service]
Type=simple
WorkingDirectory={{workdir | default("/var/lib/fjaweb")}}
Environment=PYTHONPATH={{workdir | default("/var/lib/fjaweb")}}
ExecStart={{uwsgi | default("/usr/bin/uwsgi")}} \
            -s {{socket | default("/run/uwsgi/fjaweb.socket")}} \
            --manage-script-name --plugin python3 \
            --mount '/=evalweb:create_app()'
User={{user | default("fjaweb")}}
Group={{group | default("nginx")}}
Restart=always
RestartSec=2
TimeoutStopSec=300

{% if quota | default(True) %}
CPUAccounting=true
MemoryAccounting=true
Nice=10
# quota for one CPU
CPUQuota={{quota_cpu | default("10%")}}
MemoryHigh={{quota_mem_high | default("800M")}}
MemoryMax={{quota_mem_max | default("1G")}}
{% endif %}

[Unit]
StartLimitBurst=0
StartLimitIntervalSec=0

# vim: ft=systemd
